body { 
    margin: 0; 
    color: white;
}



.configurador {
    position: absolute;
    width: 20em;
    bottom: 1em;
    left: 1em;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-family: 'Montserrat';

}

.control-title{
    margin-bottom: 0.2em;
}

.control {
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
  gap: 10px;
}

.control p {
  margin: 0;
}

input[type="range"] {
  accent-color: white;
  height: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.value{
  border-radius: 0.5em;
  padding: 0.2em;
  background-color: transparent;
  color: white;
  text-align: center;
  border: .025em solid rgba(250, 250, 250, 0.619);
}

.estilos{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
  height: 3em;
  overflow: hidden;
  padding: 0.2em;
}

.estilos .option{
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.427);
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  transition: all ease .2s;
}

.estilos .option:hover{
  border: 2px solid rgb(255, 255, 255);
  transform: scale(1.05);
}

.estilos .option:active{
  transform: scale(0.9);
  opacity: .9;
}

.option.active {
  scale: 1.1;
  opacity: 1;
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
  
}

h2{
  margin: 0;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.logo{
  position: absolute;
  left: 50%;
  border-radius: 50em;
  top: 0.5em;
  transform: translate(-50%);
  color: white;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo img{
  width: 100px;
  margin: 0.5em 2em;
  color: white;
}